[submodule "tag-workstation/vim/pack/submodules/start/vim-rspec"]
	path = tag-workstation/vim/pack/submodules/start/vim-rspec
	url = https://github.com/thoughtbot/vim-rspec.git
[submodule "vim/pack/submodules/start/ctrlp.vim"]
	path = vim/pack/submodules/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/pack/submodules/start/editorconfig-vim"]
	path = vim/pack/submodules/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/pack/submodules/start/vim-colors-solarized"]
	path = vim/pack/submodules/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "zsh/bundle/zsh-syntax-highlighting"]
	path = zsh/bundle/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/bundle/zsh-completions"]
	path = zsh/bundle/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/bundle/zsh-history-substring-search"]
	path = zsh/bundle/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "zsh/bundle/zsh-autosuggestions"]
	path = zsh/bundle/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
